<div class="generalSettingsContainer">
	<div class="toggleButtons" style="display: flex; flex-direction: column">
		<span style="color: white; width: 100px; font-size: 0.7em; padding-bottom: 0.4em"
			>If you are supporting project on Patreon, these two colors will be visible for everyone and on replay link preview</span
		>
		<div class="toggleButton" title="Left saber color, will show for everyone.">
			<input type="color" id="leftSaberColor" value="#bf2121" />
			<label class="toggleButtonLabel"
				><td><nobr>Left saber</nobr></td></label
			>
		</div>

		<div class="toggleButton" title="Right saber color, will show for everyone.">
			<input type="color" id="rightSaberColor" value="#335aff" />
			<label class="toggleButtonLabel"
				><td><nobr>Right saber</nobr></td></label
			>
		</div>
	</div>
	<div class="toggleButtons" style="display: flex; flex-direction: column; justify-content: space-between">
		<div class="toggleButton" title="Red event color, will show only for you.">
			<input type="color" id="redEventColor" value="#9c2121" />
			<label class="toggleButtonLabel"
				><td><nobr>Red lights</nobr></td></label
			>
		</div>

		<div class="toggleButton" title="Blue event color, will show only for you.">
			<input type="color" id="blueEventColor" value="#335aff" />
			<label class="toggleButtonLabel"
				><td><nobr>Blue lights</nobr></td></label
			>
		</div>
		<div class="toggleButton" title="Red background event color, will show only for you.">
			<input type="color" id="redBGColor" value="#9c2121" />
			<label class="toggleButtonLabel"
				><td><nobr>Red background</nobr></td></label
			>
		</div>

		<div class="toggleButton" title="Blue background event color, will show only for you.">
			<input type="color" id="blueBGColor" value="#335aff" />
			<label class="toggleButtonLabel"
				><td><nobr>Blue background</nobr></td></label
			>
		</div>
		<div class="toggleButton" title="Walls color, will show only for you.">
			<input type="color" id="wallsColor" value="#335aff" />
			<label class="toggleButtonLabel"
				><td><nobr>Walls</nobr></td></label
			>
		</div>
        <div class="toggleButton" title="Background color, visible only without the platform.">
			<input type="color" id="backgroundColor" value="#000" />
			<label class="toggleButtonLabel"
				><td><nobr>Background</nobr></td></label
			>
		</div>
	</div>
</div>
