<div id="HeartBeatQuest" class="toggleButton" style="display: none" title="Show heartrate recorded by HeartBeat mod on Quest">
	<label class="switch">
		<input type="checkbox" id="showHeartrate" />
		<span class="slider round"></span>
	</label>
	<label class="toggleButtonLabel"
		><td><nobr>Show Heartrate (HeartBeat mod)</nobr></td></label
	>
</div>
<div id="reesabers:tricks-replay" class="toggleButton" style="display: none" title="Show sabers tricks recorded by ReeSabers mod">
	<label class="switch">
		<input type="checkbox" id="showTreecks" />
		<span class="slider round"></span>
	</label>
	<label class="toggleButtonLabel"
		><td><nobr>Show Treecks (ReeSabers mod)</nobr></td></label
	>
</div>
