<div class="generalSettingsContainer">
	<div class="toggleButtons" style="display: flex; flex-direction: column; justify-content: space-between">
		<div class="toggleButton" title="Show 3D model of headset synced with replay.">
			<label>
				<div class="toggleButtonContainer">
					<label class="toggleButtonLabel" style="margin-left: 5px"
						><td><nobr>Headset opacity:</nobr></td></label
					>
					<label id="headsetOpacityLabel" class="toggleButtonLabel" style="margin-left: 50px">100</label>
				</div>
				<input id="headsetOpacity" class="settingRange" type="range" min="0" max="100" step="1" value="100" />
			</label>
		</div>

		<div class="toggleButton" title="Will play hitsound only when note is actually cut.">
			<label class="switch">
				<input type="checkbox" id="realHitsounds" />
				<span class="slider round"></span>
			</label>
			<label class="toggleButtonLabel"
				><td><nobr>Real hitsounds</nobr></td></label
			>
		</div>
		<div class="toggleButton" title="Display time in map beat time as well.">
			<label class="switch">
				<input type="checkbox" id="timeInBeats" />
				<span class="slider round"></span>
			</label>
			<label class="toggleButtonLabel"
				><td><nobr>Time in beats</nobr></td></label
			>
		</div>

		<div class="toggleButton" title="Will add color highlight for all missed notes, walls and bombs.">
			<label class="switch">
				<input type="checkbox" id="highlightErrors" />
				<span class="slider round"></span>
			</label>
			<label class="toggleButtonLabel">
				<td>
					<nobr>Highlight errors</nobr>
				</td>
			</label>
		</div>

		<div class="toggleButton" title="Different note score color based on score value.">
			<label class="switch">
				<input type="checkbox" id="colorScores" />
				<span class="slider round"></span>
			</label>
			<label class="toggleButtonLabel"
				><td><nobr>Color scores</nobr></td></label
			>
		</div>

		<div class="toggleButton" title="Disable parts of notes flying off.">
			<label class="switch">
				<input type="checkbox" id="reducedDebris" />
				<span class="slider round"></span>
			</label>
			<label class="toggleButtonLabel">
				<td>
					<nobr>Reduced debris</nobr>
				</td>
			</label>
		</div>
		<div class="toggleButton" title="Disable jump animations.">
			<label class="switch">
				<input type="checkbox" id="disableJumps" />
				<span class="slider round"></span>
			</label>
			<label class="toggleButtonLabel">
				<td>
					<nobr>No jumps</nobr>
				</td>
			</label>
		</div>
	</div>

	<div class="sliders" style="display: flex; flex-direction: column; justify-content: space-between">
		<div class="toggleButton" title="Show score, combo, accuracy">
			<label class="switch">
				<input type="checkbox" id="showHud" />
				<span class="slider round"></span>
			</label>
			<label class="toggleButtonLabel">
				<td>
					<nobr>Show HUD</nobr>
				</td>
			</label>
		</div>
		<div class="toggleButton" title="Show fps counter for viewer and replay.">
			<label class="switch">
				<input type="checkbox" id="showFps" />
				<span class="slider round"></span>
			</label>
			<label class="toggleButtonLabel">
				<td>
					<nobr>Show fps</nobr>
				</td>
			</label>
		</div>

		<div class="toggleButton" title="Show collision boxes for notes and walls.">
			<label class="switch">
				<input type="checkbox" id="showHitboxes" />
				<span class="slider round"></span>
			</label>
			<label class="toggleButtonLabel">
				<td>
					<nobr>Show hitboxes</nobr>
				</td>
			</label>
		</div>

		<div class="toggleButton" title="Display note modifiers visuals.">
			<label class="switch">
				<input type="checkbox" id="showNoteModifierVisuals" />
				<span class="slider round"></span>
			</label>
			<label class="toggleButtonLabel">
				<td>
					<nobr>Modifiers visuals</nobr>
				</td>
			</label>
		</div>
		<div class="toggleButton" title="Distance from player to note slowdown.">
			<label>
				<div class="toggleButtonContainer">
					<label class="toggleButtonLabel" style="margin-left: 5px"
						><td><nobr>Jump Distance:</nobr></td></label
					>
					<label id="jdLabel" class="toggleButtonLabel" style="margin-left: 40px">18</label>
				</div>
				<div style="height: 0; margin-left: 13px">
					<svg role="presentation" class="jdRangePoint" height="30" width="100" xmlns="http://www.w3.org/2000/svg">
						<rect id="jdTick" class="jd__tick" x="33%" y="0" width="1" height="10"></rect>
					</svg>
				</div>
				<input id="jd" class="settingRange" type="range" min="5" max="50" step="0.2" value="18" />
				<div style="height: 10px; margin-left: 13px">
					<svg role="presentation" class="rangePointsSvg" height="30" width="120" xmlns="http://www.w3.org/2000/svg">
						<text id="jdPoint" class="jd__point" x="33%" y="8" text-anchor="start">0</text>
					</svg>
				</div>
			</label>
		</div>

		<div class="toggleButton" title="How many pixels would be rendered for point.">
			<label>
				<div class="toggleButtonContainer">
					<label class="toggleButtonLabel" style="margin-left: 5px"
						><td><nobr>Pixel ratio:</nobr></td></label
					>
					<label id="pixelRatioLabel" class="toggleButtonLabel" style="margin-left: 20px">1.5</label>
				</div>
				<input id="pixelRatio" class="settingRange" type="range" min="0.1" max="3" step="0.1" value="1.5" />
			</label>
		</div>

		<button id="hitsounds-button" class="settingButton" onclick="document.getElementById('hitSoundPicker').click();">Change hitsounds</button>
		<input id="hitSoundPicker" style="display: none" type="file" accept=".mp3, .wav, .ogg" />
		<span id="resetHitsounds"><u>reset to default</u></span>
	</div>
</div>
