<div class="toggleButton" title="Show pause markers on timeline">
	<label class="switch">
		<input type="checkbox" id="pauseMarkers" />
		<span class="slider round"></span>
	</label>
	<label class="toggleButtonLabel"
		><td><nobr>Pauses</nobr></td></label
	>
</div>
<div class="toggleButton" title="Show note miss markers on timeline">
	<label class="switch">
		<input type="checkbox" id="missMarkers" />
		<span class="slider round"></span>
	</label>
	<label class="toggleButtonLabel"
		><td><nobr>Misses</nobr></td></label
	>
</div>
<div class="toggleButton" title="Show note bad cut markers on timeline">
	<label class="switch">
		<input type="checkbox" id="badCutMarkers" />
		<span class="slider round"></span>
	</label>
	<label class="toggleButtonLabel"
		><td><nobr>Bad cuts</nobr></td></label
	>
</div>
<div class="toggleButton" title="Show bomb hit markers on timeline">
	<label class="switch">
		<input type="checkbox" id="bombMarkers" />
		<span class="slider round"></span>
	</label>
	<label class="toggleButtonLabel"
		><td><nobr>Bombs</nobr></td></label
	>
</div>
<div class="toggleButton" title="Show wall colission markers on timeline">
	<label class="switch">
		<input type="checkbox" id="wallMarkers" />
		<span class="slider round"></span>
	</label>
	<label class="toggleButtonLabel"
		><td><nobr>Walls</nobr></td></label
	>
</div>
<div class="toggleButton" title="Show marker where the map was started or failed on timeline.">
	<label class="switch">
		<input type="checkbox" id="failMarkers" />
		<span class="slider round"></span>
	</label>
	<label class="toggleButtonLabel"
		><td><nobr>Start and fail</nobr></td></label
	>
</div>
