<div class="toggleButton" title="Start the replay on the tab load">
	<label class="switch">
		<input type="checkbox" id="autoplayOnLoad" />
		<span class="slider round"></span>
	</label>
	<label class="toggleButtonLabel"
		><td><nobr>Autoplay on load</nobr></td></label
	>
</div>

<div class="toggleButton" title="Pause player when tab loses focus">
	<label class="switch">
		<input type="checkbox" id="pauseOnUnfocus" />
		<span class="slider round"></span>
	</label>
	<label class="toggleButtonLabel"
		><td><nobr>Pause on focus lose</nobr></td></label
	>
</div>
