<div class="toggleButton" style="border-bottom: 1px solid white; margin-bottom: 4px" title="Disable color changes, rotations, sparks, etc.">
	<label class="switch">
		<input type="checkbox" id="noEffects" />
		<span class="slider round"></span>
	</label>
	<label class="toggleButtonLabel">
		<td>
			<nobr>Disable events</nobr>
		</td>
	</label>
</div>

<div class="generalSettingsContainer">
	<div class="toggleButtons" style="display: flex; flex-direction: column; justify-content: space-between">
		<div class="toggleButton" title="Display lasers on the back.">
			<label class="switch">
				<input type="checkbox" id="showLasers" />
				<span class="slider round"></span>
			</label>
			<label class="toggleButtonLabel">
				<td>
					<nobr>Lasers</nobr>
				</td>
			</label>
		</div>

		<div class="toggleButton" title="Display twisting animation.">
			<label class="switch">
				<input type="checkbox" id="showTwister" />
				<span class="slider round"></span>
			</label>
			<label class="toggleButtonLabel">
				<td>
					<nobr>Twister</nobr>
				</td>
			</label>
		</div>

		<div class="toggleButton" title="Display columns to the sides.">
			<label class="switch">
				<input type="checkbox" id="showAudioColumns" />
				<span class="slider round"></span>
			</label>
			<label class="toggleButtonLabel">
				<td>
					<nobr>Audio columns</nobr>
				</td>
			</label>
		</div>
	</div>

	<div class="toggleButtons" style="display: flex; flex-direction: column; justify-content: space-between">
		<div class="toggleButton" title="Display platform on the front.">
			<label class="switch">
				<input type="checkbox" id="showPlatform" />
				<span class="slider round"></span>
			</label>
			<label class="toggleButtonLabel">
				<td>
					<nobr>Platform</nobr>
				</td>
			</label>
		</div>

		<div class="toggleButton" title="Display floor.">
			<label class="switch">
				<input type="checkbox" id="showFloor" />
				<span class="slider round"></span>
			</label>
			<label class="toggleButtonLabel">
				<td>
					<nobr>Floor</nobr>
				</td>
			</label>
		</div>

		<div class="toggleButton" title="Lights!">
			<label class="switch">
				<input type="checkbox" id="showLight" />
				<span class="slider round"></span>
			</label>
			<label class="toggleButtonLabel">
				<td>
					<nobr>Light</nobr>
				</td>
			</label>
		</div>
	</div>
</div>

<div class="toggleButton" title="How many pixels would be rendered for point.">
	<label>
		<div class="toggleButtonContainer">
			<label class="toggleButtonLabel" style="margin-left: 5px"
				><td><nobr>Pixel ratio:</nobr></td></label
			>
			<label id="pixelRatioLabel" class="toggleButtonLabel" style="margin-left: 20px">1.5</label>
		</div>
		<input id="pixelRatio" class="settingRange" type="range" min="0.1" max="3" step="0.1" value="1.5" />
	</label>
</div>
