<div class="speedSliderContainer">
    <div class="rangeTicks">
      <svg role="presentation" class="rangeSVG" height="8" width="100" xmlns="http://www.w3.org/2000/svg">
        <rect class="range__tick" x="0%" y="3" width="1" height="10"></rect>
        <rect class="range__tick" x="25%" y="3" width="1" height="10"></rect>
        <rect class="range__tick" x="50%" y="3" width="1" height="10"></rect>
        <rect class="range__tick" x="75%" y="3" width="1" height="10"></rect>
        <rect class="range__tick" x="100%" y="3" width="1" height="10"></rect>
      </svg>
    </div>
    <input class="speedSlider" title="Replay speed" type="range" min="0" max="2" step="0.01" oninput="this.style.setProperty('--value',this.value)"; ></input>

    <div class="rangePoints">
      <svg role="presentation" class="rangePointsSvg" height="8" width="112" xmlns="http://www.w3.org/2000/svg">
        <text class="range__point" x="0%" y="8" text-anchor="start">  0  </text>
        <text class="range__point" x="25%" y="8" text-anchor="middle">  0.5</text>
        <text class="range__point" x="50%" y="8" text-anchor="middle">  1  </text>
        <text class="range__point" x="75%" y="8" text-anchor="middle">1.5  </text>
        <text class="range__point" x="99%" y="8" text-anchor="end">  2  </text>
      </svg>
    </div>
</div>

<p class="songSpeed">
    <span class="songSpeedPercent">1x</span>
</p>