<div class="settingHeader">Main camera</div>
<div id="cameraPositionContainer">
	<button id="cameraToLeft" class="settingButton" title="Select left camera (shift+q)">< left</button>
	<button id="cameraToCenter" class="settingButton" title="Select center camera (shift+r)">center</button>
	<button id="cameraToRight" class="settingButton" title="Select right camera (shift+e)">right ></button>
</div>
<div id="cameraSaveContainer">
	<button id="cameraSave" class="settingButton" title="Save current camera position and rotation">Save</button>
	<button id="cameraRestore" class="settingButton" title="Restore saved camera position and rotation">Restore</button>
</div>
<div class="toggleButton" title="Use saved camera location and rotation as default on start.">
	<label class="switch">
		<input type="checkbox" id="savedCameraDefault" />
		<span class="slider round"></span>
	</label>
	<label class="toggleButtonLabel"
		><td><nobr>Saved camera as default</nobr></td></label
	>
</div>
