<!DOCTYPE html>
<html>
  <head>
    <title>BeatSaber Replays</title>
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="assets/img/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/img/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/img/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/img/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="assets/img/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="assets/img/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="assets/img/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="assets/img/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="assets/img/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="assets/img/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="assets/img/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="assets/img/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="assets/img/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="BeatSaber replays"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="assets/img/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="assets/img/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="assets/img/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="assets/img/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="assets/img/mstile-310x310.png" />

    <meta name="description" content="BeatSaber web replay viewer.">
    <meta property="og:description" content="BeatSaber web replay viewer.">
    <meta property="og:image" content="https://www.replay.beatleader.xyz/assets/img/preview.png">
    <meta property="og:title" content="BeatSaber replays">
    <meta name="twitter:title" content="BeatSaber replays">
    <meta name="twitter:description" content="BeatSaber web replay viewer.">
    <meta name="twitter:site" content="replay.beatleader.xyz">
    <meta name="twitter:image" content="https://www.replay.beatleader.xyz/assets/img/preview.png">
    <meta name="twitter:image:alt" content="BeatSaber replays">

    <meta name="twitter:player:width" content="700" />
    <meta name="twitter:player:height" content="400" />
    <meta name="twitter:card" content="player">

    <meta property="og:type" content="video.other">
    <meta property="og:video:type" content="text/html">
    <meta property="og:video:width" content="1280">
    <meta property="og:video:height" content="720">

    <script>
      ["og:url", "og:video:url", "og:video:secure_url", "twitter:player"].forEach(attribute => {
        var link = document.createElement('meta');  
        link.setAttribute('property', attribute);   
        link.content = document.location;  
        document.getElementsByTagName('head')[0].appendChild(link);
      });
    </script>

    <script type="text/javascript">
      window.vrDisabled = true;
    </script>
    {% if DEBUG_AFRAME %}
      <script src="http://{{ HOST }}:9000/dist/aframe-master.js"></script>
    {% elif IS_PRODUCTION %}
      <script src="vendor/aframe-master.min.js"></script>
    {% else %}
      <script src="vendor/aframe-master.js"></script>
    {% endif %}
    <script src="build/build.js"></script>
    <link rel="stylesheet" href="assets/img/all.css">
  </head>
  <body id="body" class="showControls">
    {% include './animations.html' %}
    <a-scene
      settings
      bind__pixelRatio="settings.pixelRatio"
      precision="mediump"
      mixin="bgColorAnimation tunnelColorAnimation leftLaserColorAnimation rightLaserColorAnimation textGlowColorAnimation floorColorAnimation"
      bind__beat-generator="difficulty: challenge.difficulty; mode: challenge.mode; isPlaying: isPlaying; beatSpeed: challenge.beatSpeed; noEffects: settings.noEffects"
      bind__pauser="enabled: isPlaying"
      bind__song="audio: challenge.audio; difficulty: challenge.difficulty; mode: challenge.mode; isPaused: isPaused; isFinished: isFinished; isPlaying: isPlaying; hasReceivedUserGesture: hasReceivedUserGesture; isBeatsPreloaded: challenge.isBeatsPreloaded"
      bind__song-controls="difficulty: challenge.difficulty; mode: challenge.mode; isPlaying: isPlaying; songName: challenge.songName; songSubName: challenge.author; songImage: challenge.image; showControls: showControls; songId: challenge.id; replaysCount: replaysCount"
      bind__zip-loader="difficulty: challenge.difficulty; id: challenge.id; isSafari: isSafari; mode: challenge.mode"
      bind__replay-loader="difficulty: challenge.difficulty; mode: challenge.mode"
      bind__intro-skip="difficulty: challenge.difficulty"
      bind__fps-counter="enabled: settings.showFps"
      console-shortcuts
      debug-controller
      debug-song-time
      debug-state
      hack
      gpu-preloader
      {% if DEBUG_INSPECTOR %}
        inspector="url: http://localhost:3333/dist/aframe-inspector.js"
      {% else %}
        inspector="url: https://cdn.jsdelivr.net/gh/aframevr/aframe-inspector@master/dist/aframe-inspector.min.js"
      {% endif %}
      iframe-url
      loading-screen="backgroundColor: #000;"
      pool__beat-arrow-blue="mixin: arrowBlueBeat; size: 50; container: #beatContainer; dynamic: true"
      pool__beat-arrow-red="mixin: arrowRedBeat; size: 50; container: #beatContainer; dynamic: true"
      pool__beat-dot-blue="mixin: dotBlueBeat; size: 50; container: #beatContainer; dynamic: true"
      pool__beat-dot-red="mixin: dotRedBeat; size: 50; container: #beatContainer; dynamic: true"
      pool__beat-mine="mixin: mine; size: 50; container: #beatContainer; dynamic: true"
      pool__beat-glow="mixin: beatGlow; size: 20; container: #glowContainer; dynamic: true"
      pool__beatscoreok="mixin: beatScoreOk; size: 30; container: #beatContainer; dynamic: true"
      pool__beatscoresuper="mixin: beatScoreSuper; size: 10; container: #beatContainer; dynamic: true"
      pool__wall="mixin: wall; size: 30; container: #beatContainer"
      proxy-event__cleargame="event: gamemenurestart; as: cleargame; to: a-scene"
      proxy-event__pausegame="event: pausegame; as: textglowoff; to: a-scene"
      proxy-event__resumegame="event: gamemenuresume; as: textglownormal; to: a-scene"
      stage-colors="color: blue"
      stats-param
      user-gesture
      replay-loader
      replay-player
      camera-mover
      fps-counter
      intro-skip
      render-order="background, additive, middle, hud, walls">

      <a-assets timeout="10000">
        {% include './assets.html' %}
      </a-assets>

      <a-entity id="beatObjTemplate" obj-model="obj: #beatObj" visible="false"></a-entity>
      <a-entity id="arrowRedObjTemplate" obj-model="obj: #arrowredObj" visible="false"></a-entity>
      <a-entity id="arrowBlueObjTemplate" obj-model="obj: #arrowblueObj" visible="false"></a-entity>
      <a-entity id="dotRedObjTemplate" obj-model="obj: #dotredObj" visible="false"></a-entity>
      <a-entity id="dotBlueObjTemplate" obj-model="obj: #dotblueObj" visible="false"></a-entity>
      <a-entity id="mineObjTemplate" obj-model="obj: #mineObj" visible="false"></a-entity>

      <a-entity id="beatContainer" bind__pause="isPaused: !isPlaying" beat-hit-sound></a-entity>

      {% include './templates/stage.html' %}
      {% include './templates/gameMenu.html' %}
      {% include './templates/score.html' %}
      {% include './templates/loading.html' %}

      <a-entity id="glowContainer"></a-entity>

      <!-- super cut fx rings -->
      {% for i in range(1, 5) %}
        <a-entity render-order="wall" class="superCutFx" mixin="superCut"></a-entity>
      {% endfor %}

      <!-- Wrong + miss beat visual indicators. -->
      <a-entity id="badContainer" bind__visible="isPlaying">
        <a-entity render-order="walls" id="wrongLeft" mixin='beatWrong'></a-entity>
        <a-entity render-order="walls" id="wrongRight" mixin='beatWrong'></a-entity>
        <a-entity render-order="walls" id="missLeft" mixin='beatMiss'></a-entity>
        <a-entity render-order="walls" id="missRight" mixin='beatMiss'></a-entity>
      </a-entity>

      <a-entity
        render-order="wall"
        id="saberParticles"
        particleplayer="src: #saberParticlesJSON; interpolate: true; pscale: 0.55; dur: 800; loop: false; on: explode; img: #sparkImg; count: 20%; animateScale: true; initialScale: 4 1 1; finalScale: 0.2 0.2 1"></a-entity>
      <a-entity
        render-order="wall"
        id="mineParticles"
        particleplayer="src: #mineParticlesJSON; pscale: 0.5; interpolate: true; scale: 1.4; loop: false; on: explode; img: #sparkImg; count: 20%; animateScale: true; initialScale: 3 1 1; finalScale: 0.2 0.2 1"></a-entity>
      <a-entity
        render-order="wall"
        id="sparkParticles"
        particleplayer="src: #sparksJSON; color: #fcc; pscale: 0.5; on: explode; scale: 0.12; loop: false; img: #spark2Img; dur: 700; count: 50%; animateScale: true; initialScale: 3 0.5 1; finalScale: 0.1 0.5 1"></a-entity>

      {% for i in range(0, 9) %}
      <a-entity
        id="controllerRig"
        proxy-event="event: recentered; to: #headRig; captureBubbles: true; as: recenter">
        {% macro saber (hand, otherHand, bladeColor, beamColor, index) %}
          <a-entity id="{{ hand }}Hand"
            render-order="wall"
            class="saber"
            bind__visible="replaysCount > {{ index }}"
            bind__pauser="enabled: isPlaying"
            bind__saber-controls="bladeEnabled: isPlaying; isPaused: isPaused; enabled: true"
            bind__saber-particles="enabled: isPlaying && replaysCount > {{ index }}"
            bind__trail="enabled: isPlaying; trailType: settings.trailType; lifetime: settings.trailLength"
            bind__cut-plane="enabled: isPlaying"
            bind__raycaster="enabled: isPlaying && !settings.noEffects && replaysCount > {{ index }}"
            raycaster="objects: [raycastable-game]; far: 1; interval: 50"
            saber-particles="hand: {{ hand }}"
            saber-controls="hand: {{ hand }}; index: {{ index }}"
            trail="color: {{ bladeColor }}; hand: {{ hand }}; index: {{ index }}"
            cut-plane="hand: {{ hand }}">

            <a-entity class="saberContainer" rotation="90 0 0">
              <a-entity
                class="bladeContainer"
                bind__visible="isPlaying"
                animation="property: scale; from: 0 0 0; to: 1 1 1; dur: 750; easing: linear; startEvents: drawblade"
                scale="0.001 0.001 0.001">
                <a-entity
                  class="blade blade{{ hand }}"
                  geometry="primitive: box; height: 1.0; depth: 0.02; width: 0.02"
                  material="shader: flat; color: #fff"
                  scale="1 1 1"
                  bind__scale="saberScale"
                  position="0 -0.35 0"></a-entity>
                <a-entity
                  render-order="wall"
                  class="saberglow"
                  obj-model="obj: #saberGlowObj"
                  material="shader: flat; color: {{ bladeColor }}; blending: additive; opacity: 0.08; depthWrite: false"
                  scale="1 1 1"
                  bind__scale="saberGlowScale"
                  position="0 -0.38 0"></a-entity>
              </a-entity>
              <a-entity
                class="saberHandle"
                geometry="primitive: cylinder; radius: 0.02; height: 0.15;"
                scale="1 1 1"
                bind__scale="saberScale"
                material="shader: flat; color: {{ bladeColor }}"
                position="0 0.17 0">
                <a-entity
                class="highlightTop"
                geometry="primitive: cylinder; radius: 0.02; height: 0.01;"
                material="shader: flat; color: #FFFFFF"
                position="0 -0.08 0"></a-entity>
              <a-entity
                class="highlightBottom"
                geometry="primitive: cylinder; radius: 0.02; height: 0.01;"
                material="shader: flat; color: #FFFFFF"
                position="0 0.08 0.0"></a-entity>
              </a-entity>
            </a-entity>
          </a-entity>
        {% endmacro %}

        {{ saber('left', 'right', '#ff0000', 'pink', i ) }}
        {{ saber('right', 'left', '#335aff', 'cyan', i ) }}
      </a-entity>
      {% endfor %}
      <a-entity id="defaultRig" class="floatingCamera">
        <a-entity id="mainCamera" class="mainCamera" position="0 1.75 2.0" camera="active: true" look-controls wasd-controls>
        </a-entity>
      </a-entity>
      <a-entity id="headRig" class="headCamera">
        <a-entity id="povCamera" class="povCamera" rotation="0 0 -1" camera="fov: 60; active: false"
        bind__camera="fov: settings.fov"
        bind__aabb-collider="enabled: isPlaying"
        aabb-collider="objects: [data-collidable-head]; interval: 50; collideNonVisible: false"
        proxy-event__wallhitstart="event: hitstart; to: a-scene; as: wallhitstart"
        proxy-event__wallhitend="event: hitend; to: a-scene; as: wallhitend">
        </a-entity>
      </a-entity>
      <a-entity 
        id="head" 
        class="headset"
        obj-model="obj: #questObj"
        bind__visible="isPlaying && settings.showHeadset && !pov"
        position="0 1.7 0.0">
        </a-entity>
      </a-entity>

      <a-entity 
        id="orthographicBack" 
        class="orthographicBack" 
        position="0 1.4 4.0" 
        orthographic-camera="viewportPosition: 2; far: 25; aspect: 1.333"
        bind__orthographic-camera="active: settings.orthographicBackEnabled; frustum: settings.orthographicBackFrustum">
      </a-entity>
      <a-entity 
        id="orthographicRight" 
        class="orthographicRight" 
        position="2.0 1.4 0.0" 
        rotation="0 90 0" 
        orthographic-camera="viewportPosition: 1; far: 10; aspect: 1.333"
        bind__orthographic-camera="active: settings.orthographicRightEnabled; frustum: settings.orthographicRightFrustum">
      </a-entity>
      <a-entity 
        id="orthographicTop" 
        class="orthographicTop" 
        position="0.0 4.0 0.0" 
        rotation="-90 0 0" 
        orthographic-camera="viewportPosition: 3; far: 10; aspect: 1.333"
        bind__orthographic-camera="active: settings.orthographicTopEnabled; frustum: settings.orthographicTopFrustum">
      </a-entity>

      <a-entity
        id="mouseCursor"
        bind__raycaster="enabled: !inVR"
        mixin="raycaster"
        cursor="rayOrigin: mouse"
        raycaster="objects: [raycastable]"></a-entity>
      <a-entity
        id="mouseCursorMesh"
        mixin="cursorMesh"
        cursor-mesh="cursorEl: #mouseCursor"
        bind__cursor-mesh="active: menuActive"></a-entity>
    </a-scene>

    {% include './templates/controls.html' %}
    {% include './templates/ga.html' %}

    <span id="iframeUrl"></span>
  </body>
</html>
