$darkred=#8c1248
$red=#d11769
$lightred=#ff3690
$gray=#CCC
$white=#FAFAFA
$font=system-ui, BlinkMacSystemFont, -apple-system, "Segoe UI", Helvetica, Arial, sans-serif

html
  background #111

#controls
  align-items center
  background rgba(0, 0, 0, 0.85)
  border-radius 10px
  bottom 0
  display none
  font-family $font
  left 0
  margin 0 auto 10px auto
  padding 10px
  position fixed
  right 0
  width 730px
  z-index 99999999

  &.challengeLoaded
    display flex

  #controlsVolume
    cursor pointer
    padding 3px 10px 0 3px
    img
      height 20px
      width 20px

  #volumeSliderContainer
    background rgba(0, 0, 0, 0.85)
    border-radius 0 5px 5px 0
    bottom 95px
    cursor pointer
    display none
    left -31px
    padding-top 4px
    position absolute
    transform rotate(-90deg)
    z-index 999999999
    &.volumeActive
      display block

    input
      cursor pointer
      padding 0
      width 100px

  #speedSliderContainer
    background rgba(0, 0, 0, 0.85)
    border-radius 0 5px 5px 0
    bottom 5px
    cursor pointer
    display none
    left 90px
    padding-top 4px
    z-index 999999999
    display block

    input
      cursor pointer
      padding 0
      width 100px

  #pause
    cursor pointer
    display flex
    padding-right 10px
    opacity 0
    transition opacity .5s
    &:hover #pauseSymbol
      fill $red

  #logo
    margin-right 10px
    img
      height 32px
      width 32px

	#timeline
    height 12px
    width 160px

    &:hover #timelineLine
      height 6px
      background $red
      margin-top 3px

  #timelineLine
    height 2px
    background $darkred
    border-radius 2px
    margin-top 5px
    transition background 0.2s, height 0.2s, margin-top 0.2s

  #playhead
    background $white
    position relative
    border-radius 2px 0 0 2px
    height 100%
    width 0%

#songTime
  color $gray
  font-size 11px
  margin-left 15px
  margin-right 0
  width 70px
  
#songSpeed
  color $gray
  font-size 11px
  margin-left 5px
  margin-right 0
  width 30px

#songInfoContainer
  align-items center
  display flex

  img
    height 32px
    width 32px

  p
    font-size 13px
    margin 0
    text-shadow 0 0 4px #000
  #songInfo
    display flex
    flex-direction column
    padding-left 5px
  #songName
    color $gray
    font-weight bold
    font-size 14px
  #songSubName
    color $lightred

  #songInfoSelect
    align-items center
    display flex
    position absolute
    right 5px

  #controlsDifficulty,
  #controlsMode
    border 1px solid $gray
    border-radius 5px
    color $gray
    cursor pointer
    font-size 11px
    padding 5px 10px
    text-align center
    transition all .1s
    p
      font-family $font

  #controlsMode
    margin-right 5px

#controlsModes,
#controlsDifficultyOptions
  background #020202
  border 1px solid $gray
  border-radius 5px
  bottom 50px
  color $white
  display none
  flex-direction column
  font-family $font
  font-size 11px
  list-style none
  margin 0
  opacity 0
  padding 0
  position absolute
  right 50px
  transition all .2s
  li
    cursor pointer
    padding 10px
    min-width 65px
    transition all .1s
    &:hover
      color $red

#controlsModes
  right 142px

.modeOptionsActive
  #controlsModes
    display flex
    opacity 1

.difficultyOptionsActive
  #controlsDifficultyOptions
    display flex
    opacity 1

#timeline
  cursor pointer
  position relative

#timelineHover
  bottom 0
  color $white
  font-size 11px
  display none
  padding 5px
  position absolute
  &.timelineHoverActive
    display block

#vrButton
  background url(assets/img/enter-vr-button-background.png) no-repeat
  background-size cover
  border 0
  bottom 25px
  cursor pointer
  height 23.5px
  position absolute
  right 30px
  width 42px
  z-index 9999999

  &.a-hidden
    visibility hidden

  &:active
    border 0

  &:hover
    background-position 0 -25px

.github-corner
  opacity 1
  transition .1s opacity

.isPlaying
  .github-corner
    opacity 0
  #controls,
  #controls #pause
    opacity 1

.a-loader-title
  display none !important

#songInfoContainer #searchToggle
  cursor pointer
  height 30px
  padding 0 5px 0 15px
  width 30px
  svg
    left 5px
    position relative
    top 5px
    transform scale(1.5)
  g
    stroke $gray
    transition stroke .1s
  &:hover g
    stroke $white

#search
  bottom 50px
  align-items center
  display flex
  flex-direction column
  justify-content center
  left 0
  margin 0 auto
  position absolute
  right 0
  width 400px

  input,
  #url
    background rgba(0, 0, 0, 0.85)
    border-radius 10px
    font-family $font
    font-size 14px
    position relative

	input
    border 1px solid $gray
    bottom 15px
    color $white
    padding 8px 20px
    width 340px

  #url
    border 1px solid #222
    color $gray
    padding 8px 20px
    text-align center

  #searchResultsContainer
    background rgba(0, 0, 0, 0.95)
    border 1px solid $gray
    border-radius 10px
    bottom 25px
    display flex
    flex-direction column
    padding-bottom 6px
    position relative
    width 340px

    > h3
      color $gray
      font-size 14px
      text-align center
      margin 8px 0 0 0

  #searchResults
    display flex
    flex-direction column
    margin 0
    max-height 200px
    list-style none
    overflow auto
    padding 5px 0 5px 0

    li
      align-items center
      background none
      color $gray
      cursor pointer
      display flex
      font-size 12px
      margin 0
      margin-bottom 2px
      padding-left 10px
      transition background .1s
      &:hover
        background rgba(30, 30, 30, 0.95)
      img
        height 24px
        width 24px
      p
        margin 0
        padding-left 10px

#breakWarning
  background #111
  border-radius 5px
  color #FAFAFA
  font-family $font
  font-size 18px
  left 0
  margin 0 15%
  opacity 0.75
  padding 10px
  position fixed
  right 0
  text-align center
  z-index 999999999
  top 20px

#subscribeForm {
  align-items center
  background: rgba(0, 0, 0, 0.35);
  border-radius 0 0 10px 0
  display: flex;
  top: 0;
  color: #FAFAFA;
  font-family $font
  height: 50px;
  left: 0;
  margin: 0;
  width: 400px;
  padding: 0 0 0 10px;
  position: fixed;
  z-index: 9999999;

  form {
    align-items center
    display flex
  }

  .closeSubscribe {
    color #FAFAFA
    cursor pointer
    font-size 25px
    margin 0
    padding 0
    position absolute
    top -10px
    transition all .1s
    right 0

    &:hover {
      color $red
    }
  }
}

#subscribeForm h2 {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
}

#subscribeForm input[type="email"] {
  background: #FAFAFA;
  border: 0;
  border-radius: 5px;
  color: #333;
  font-size 11px
  height: 24px;
  padding-bottom 0;
  padding-top 0;
  padding-left: 10px;
  margin-left 10px
  margin-right: 10px;
  width: 60px;
  text-transform: uppercase;
  vertical-align: middle;
}

#subscribeForm button {
  border: 0;
  background: #FF74b8;
  border-radius: 5px;
  cursor: pointer;
  font-size: 11px;
  color: #FAFAFA;
  text-transform: uppercase;
  transition: .1s all;
  padding: 6px 10px;
  vertical-align: middle;
}

#povswitch {
    background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20245.82%20141.73%22%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill%3A%23fff%3Bfill-rule%3Aevenodd%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3Emask%3C%2Ftitle%3E%3Cpath%20class%3D%22a%22%20d%3D%22M175.56%2C111.37c-22.52%2C0-40.77-18.84-40.77-42.07S153%2C27.24%2C175.56%2C27.24s40.77%2C18.84%2C40.77%2C42.07S198.08%2C111.37%2C175.56%2C111.37ZM26.84%2C69.31c0-23.23%2C18.25-42.07%2C40.77-42.07s40.77%2C18.84%2C40.77%2C42.07-18.26%2C42.07-40.77%2C42.07S26.84%2C92.54%2C26.84%2C69.31ZM27.27%2C0C11.54%2C0%2C0%2C12.34%2C0%2C28.58V110.9c0%2C16.24%2C11.54%2C30.83%2C27.27%2C30.83H99.57c2.17%2C0%2C4.19-1.83%2C5.4-3.7L116.47%2C118a8%2C8%2C0%2C0%2C1%2C12.52-.18l11.51%2C20.34c1.2%2C1.86%2C3.22%2C3.61%2C5.39%2C3.61h72.29c15.74%2C0%2C27.63-14.6%2C27.63-30.83V28.58C245.82%2C12.34%2C233.93%2C0%2C218.19%2C0H27.27Z%22%2F%3E%3C%2Fsvg%3E") 50% 50%/70% 70% no-repeat rgba(0,0,0,.35);
    border: 0;
    bottom: 10px;
    cursor: pointer;
    min-width: 50px;
    min-height: 30px;
    padding-right: 5%;
    padding-top: 4%;
    position: absolute;
    right: 10px;
    transition: background-color .05s ease;
    -webkit-transition: background-color .05s ease;
    z-index: 9999;
    border-radius: 8px;
}

#povswitch:hover {
  background-color: #FF94C8;
}

#settings {
  position: absolute;
  right: 130px;
  bottom: 15px;
  font-family $font
  font-size 11px
}
    

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggleButtonLabel {
  top: 1px;
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  color: $white;
  font-size 11px
}

.missMark {
  width: 10px;
  height: 10px;
  position: absolute;
  z-index: 2;
}

.missMark:hover {
  width: 15px;
  height: 15px;
  z-index: 3;
}